/Lab1/Task06/bin/Debug/Task06.pdb

/Lab1/Task01/bin*
/Lab1/Task02/bin*
/Lab1/Task03/bin*
/Lab1/Task06/bin*
/Lab1/Task01/obj*
/Lab1/Task02/obj*
/Lab1/Task03/obj*
/Lab1/Task06/obj*
/Lab1/Lab01.suo
/Lab1/Lab01.v12.suo
